__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.mypy_cache/
.pytest_cache/
.ruff_cache/

.venv/
venv/
env/
.env
.env.*

storage/**
!storage/.gitkeep
app.db
*.log
.devcontainer/devcontainer.json
tests/** 

.vscode/
.idea/
.DS_Store

docker-compose.override.yml
